h1{font-family: cooper black;}
h4{ font-family: Arial Black}

.pr{background-color: springgreen;}
.dl{color: blue;
	font-family: Bodoni MT Condensed;
	font-size: 20px;

}
.dk{font-family: Bodoni MT Condensed;
}


	body{background-color: lawngreen;
		font-size: 20px;}

.ls{color: red;}